---
import LayoutDefault from "@layouts/Default.astro";
---

<LayoutDefault
    title="Página inicial"
    description="A Cukaz! nasceu para levar memórias afetivas para a mesa dos nossos amigos clientes"
>
    <section>
        <video autoplay muted loop src="https://www.cukaz.com.br/static/videos/cucaz_montagem.mp4"></video>
        <!-- <video autoplay muted loop src="/static/videos/cucaz_lareira_mordida.mp4"></video> -->
    </section>
</LayoutDefault>

<style lang="scss" scoped>
    section {
        width: 100%;
        height: calc(100vh - 56px - 56px);
        position: relative;
				z-index: 1;
        overflow: hidden;
    }

    video {
      width: 100%;
      height: 100%;
      object-fit: cover; /* This will make sure the video covers the entire container without distortion */
    }
</style>
