---
import LayoutDefault from "@layouts/Default.astro";
---

<LayoutDefault>
    <h1>
        Cukaz.com.br
    </h1>
    
    <p>
        Seja bem vindo. Estamos em construção!
    </p>
</LayoutDefault>
