---
import LayoutDefault from "@layouts/Default.astro";
---

<LayoutDefault
    title="Sobre"
    description="A Cukaz! nasceu para levar memórias afetivas para a mesa dos nossos amigos clientes"
>
	<div class="px-container py-10 min-h-[calc(100vh-56px-56px)]">
		<section>
			<div class="flex flex-col lg:flex-row gap-12 justify-center">
				<div class="md:w-xl max-w-xl">
					<h1 class="text-slate-900 text-4xl sm:text-5xl lg:text-6xl tracking-tight text-white">
						Sobre a Cukaz
					</h1>
					<br />
					<p class="text-base">
						Típicas cucas da culinária alemã.
					</p>
					<p class="text-base">
						Sob a massa doce e macia, uma generosa camada de cobertura doce à sua escolha, finalizada com o toque especial da farofa crocante.
					</p>

					<br>
					
					<h2 class="text-3xl">
						Uma Explosão de sabores
					</h2>
					<br>
					Com mais de 20 sabores para experienciar o momento sobre a mesa com quem você mais ama!

					<br />
					<br />

					<ul class="list-disc ml-4 flex gap-1 flex-col">
						<li>
							Goiabada com Requeijão
						</li>
						<li>
							Chocolate ao Leite
						</li>
						<li>
							Chocolate com Morango
						</li>
						<li>
							Goiabada com Requeijão
						</li>
					</ul>
				</div>
				<div>
					<div class="w-full">
						<video
							loop
							muted	
							autoplay
							class="max-h-[50vh] m-auto rounded border border-stone-700"
							src="https://www.cukaz.com.br/static/videos/cucaz_lareira_mordida.mp4"
						>
						</video>
					</div>
				</div>
			</div>
		</section>
		
	</div>
</LayoutDefault>
