---
const today = new Date();
const year = today.getFullYear();
---

<footer class="relative z-10 w-ful bg-[#333333] py-3 text-center border-t border-stone-700">
    <div class="px-shell">
			<p class="text-sm">
        &copy; {year} <a href="https://www.cukaz.com.br/" title="Fábrica Cukaz">Cukaz</a>. Todos os direitos reservados.
    </p>
		</div>
</footer>

<!--
<script>
	// scrap to get products and items from
	// https://cukaz.goomer.app/menu
	
	let data = [];
	let productItem = document.querySelectorAll('.GCuXr');

	for(let item in productItem) {

		if(
			typeof item === 'string' &&
			Number(item) <= productItem.length - 1
		) {
			let proditem  = productItem[item];
			let itemMedia = proditem.querySelectorAll('.kXbkpn')[0];

			let d = {
				"title": proditem.querySelectorAll('.info .name')[0].innerText,
				"image": {
					"src": itemMedia ? itemMedia.querySelectorAll('img')[0].src : '',
					"alt": itemMedia ? itemMedia.querySelectorAll('img')[0].alt : ''
				},
				"price": {
					"base": "",
					"value": proditem.querySelectorAll('.info .price')[0].innerText,
				}
			}
			
			data.push(d);
		}
	}

	console.log(JSON.stringify(data));
</script>
-->
