---
import LogoShort from '@components/LogoShort.astro';
import Headerrightsidebar from './vue/headerrightsidebar.vue';

const items = [
	{
		label: 'Sobre Nós',
		icon: 'pi pi-home',
		url: '/sobre/'
	},
	{
		label: 'Sabores',
		icon: 'pi pi-star',
		url: '/sabores/'
	},
	{
		label: 'Contato',
		icon: 'pi pi-envelope',
		url: '/contato/'
	}
];

const {} = Astro.props;
---

<header class="!bg-[#333333] border-b border-stone-700 flex justify-between items-center h-[56px] sticky top-0">
	<div class="px-shell w-full">
		<div class="flex flex-row justify-between">
			<LogoShort
				href="/"
				title="Página Inicial | cukaz.com.br"
				src="/static/images/logo.png"
				alt=""
			/>
	
			<div class="flex flex-row">
				<nav class="hidden lg:flex items-center">
					<ul class="flex gap-4 m-0 p-0">
					{
						items.map(item => {
							return (
								<li class="text-sm">
									<a href={item.url} title={item.label}>
										{item.label}
									</a>
								</li>
							);
						})
					}
					</ul>
				</nav>

				<Headerrightsidebar client:load items={items} />
			</div>
		</div>
	</div>
</header>
