---
interface Props {
	href: String,
	title: String,
	src: String,
	alt: String
}

const {
	href,
	title,
	src,
	alt
} = Astro.props;
---

<a
	href={href}
	title={title}
	class="logo-short hover:cursor-pointer"
>
	<img
		src={src}
		alt={alt}
		width="80"
		height="auto"
		class="inline"
	/>
</a>
