---
import Head from "@components/Head.astro";
import Header from "@/components/Header.astro";
import Footer from "@/components/Footer.astro";
import Trd3 from "@components/Trd3.astro";
const { description, title } = Astro.props;
---
<html
	dir="ltr"
	lang="pt-BR"
	class=""
>
	<head>
		<Head
			title={title}
			description={description}
		/>
	</head>
	<body>
		<Header />

		<main>
			<slot />
		</main>

		<Footer />
		<Trd3 />
	</body>
</html>
